{% extends 'base.html.twig' %}

{% block title %}
    Zaloguj się.
{% endblock %}

{% block body %}
    <div class="container">
        {% if error %}
            <div class="error">{{ error.message }}</div>
        {% endif %}
        <fieldset>
            <h1 class="title">Zaloguj się</h1>
            <form action="{{ path("check_login") }}" method="post" id="login">
                <div>
                    <div><label for="username">Login/email:</label></div>
                    <div><input type="text" id="username" name="_username" autofocus/></div>
                </div>
                <div>
                    <div><label for="password">Hasło:</label></div>
                    <div><input type="password" id="password" name="_password"/></div>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">
                        Zaloguj się.
                    </button>
                    <a href="{{ path('register_user') }}" class="btn btn-primary">Zarejestruj się.</a>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}
