/data
/vendor
/bin/doctrine
/bin/doctrine.php
/bin/doctrine-dbal
/bin/phpcbf
/bin/phpcs
/bin/phpspec
/bin/security-checker
/app/config/parameters.yml
/app/bootstrap.php.cache
!/bin/console
/var/
!var/.gitkeep
